<% content_for(:title, 'Home') %>
<% content_for(:hide_body_title, true) %>
<% content_for(:page_style, :full_width) %>

<div class='columns'>
  <div class='column'>
    <section class='hero is-link is-bold is-small'>
      <div class='hero-body'>
        <div class='container'>
          <h1 class='title'>
            Hey <%= current_user.first_name.blank? ? 'stanger' : current_user.first_name %>
          </h1>
          <h2 class='subtitle'>
            It's nice to see you today
          </h2>
        </div>
      </div>
    </section>
  </div>
</div>

<div class='columns'>
  <div class='column is-half'>
    <div class='columns'>
      <div class='column'>
        <h1 class='title is-size-4'>Personal Log</h1>
      </div>
      <div class='column is-narrow'>
        <%= link_to new_personal_log_entry_path, class: 'button is-primary is-rounded is-small' do %>
          <%= icon_for :write %><span>Write</span>
        <% end %>
      </div>
    </div>

    <% @entries.each do |entry| %>
      <div class='block'>
        <%= render 'personal_log/entries/personal_log_entry', personal_log_entry: entry %>
      </div>
    <% end %>
  </div>

  <div class='column is-half'>
    <div class='columns'>
      <div class='column'>
        <h1 class='title is-size-4'>Tasks</h1>
      </div>
      <div class='column is-narrow'>
        <%= link_to new_task_path, class: 'button is-primary is-rounded is-small' do %>
          Add
        <% end %>
      </div>
    </div>

    <div class='content'>
      <ul>
        <% @tasks.each do |t| %>
          <li>
            <%= link_to task_path(t) do %>
              <%= localize t.due_date, format: '%A %l:%M%P' %> - <%= t.decorate(:name) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
