<% notes.each_slice(3) do |row| %>
  <div class='columns'>
    <% row.each do |note| %>
      <div class='column is-4'>
        <div class='card'>
          <div class='card-content'>
            <div class='media'>
              <div class='media-content'>
                <p class='title is-4'><%= note.user.decorate :name %></p>
                <div class='subtitle is-6'>
                  <%= note.decorate :updated_at %>
                  <% note.tags.each do |tag| %>
                    <%= link_to note_tag_path(tag) do %>
                      <div class='tag is-info is-rounded'>
                        <%= tag.decorate :name %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <%= note.decorate :content %>
            <% if note.company.present? %><p><%= icon_for :companies %><span><%= note.company.decorate :name_link %></span><% end %>
            <% if note.contact.present? %><p><%= icon_for :contacts %><span><%= note.contact.decorate :name_link %></span><% end %>
            <% if note.project.present? %><p><%= icon_for :projects %><span><%= note.project.decorate :name_link %></span><% end %>
          </div>
          <footer class='card-footer'>
            <%= link_to 'View', note_path(note), class: 'card-footer-item' %>
            <%= link_to 'Edit', edit_note_path(note), class: 'card-footer-item' %>
          </footer>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= paginate notes %>
