<aside class='menu'>
  <ul class='menu-list'>
    <li>
      <%= link_to notes_path, class: controller_name == 'notes' ? 'is-active' : nil do %>
        <%= icon_for :notes %><span>Notes</span>
      <% end %>
    </li>
    <li>
      <%= link_to note_tags_path, class: controller_name == 'tags' ? 'is-active' : nil do %>
        <%= icon_for :tags %><span>Tags</span>
      <% end %>
    </li>
    <li><a><%= icon_for :import %><span>Import</span></a></li>
    <li><a><%= icon_for :export %><span>Export</span></a></li>
    <li><a><%= icon_for :help %><span>Help</span></a></li>
</aside>
