<h1><%= @note.title %></h1>

<p>
  <pre><%= @note.content %></pre>
</p>

<p><%= link_to 'Edit', edit_note_path(@note) %> / <%= link_to 'Back', notes_path %></p>

<p>Lasted updated: <%= time_ago_in_words(@note.updated_at) %> ago</p>
