<% content_for(:title) { @note.title } %>
<h1 class="title"><%= @note.title %></h1>

<p>
  <pre><%= @note.content %></pre>
</p>

<%= attributes_table(@note, [
  { contact: [:name_link] },
  { company: [:name_link] },
  { project: [:name_link] },
]) %>

<%= link_to 'Edit', edit_note_path(@note), class: 'button is-link' %>
<%= link_to 'Delete', note_path(@note), class: 'button is-danger is-light', method: :delete, data: { confirm: 'Are you sure you want to delete this note?' } %>

<p>Lasted updated: <%= @note.decorate :updated_at_ago %></p>

<p><%= link_to 'Back', notes_path %></p>
