<h1><%= @note.title %></h1>

<p>
  <pre><%= @note.content %></pre>
</p>

<% if @note.contact.present? %>
  <p>
    <strong>Contact:</strong> <%= link_to @note.contact.decorate(:name), contact_path(@note.contact) %>
  </p>
<% end %>

<% if @note.company.present? %>
  <p>
    <strong>Company:</strong> <%= link_to @note.company.name, company_path(@note.company) %>
  </p>
<% end %>

<% if @note.project.present? %>
  <p>
    <strong>Project:</strong> <%= link_to @note.project.name, project_path(@note.project) %>
  </p>
<% end %>

<p>
  <%= link_to 'Edit', edit_note_path(@note) %> /
  <%= link_to 'Delete', note_path(@note), method: :delete, data: { confirm: 'Are you sure you want to delete this note?' } %>
</p>

<p>Lasted updated: <%= @note.decorate :updated_at_ago %></p>

<p><%= link_to 'Back', notes_path %></p>
