<% content_for(:title, 'Note') %>
<% content_for(:back_link, notes_path) %>
<% content_for(:page_style, :document) %>
<% content_for(:actions, actions_for(@note, :edit, :delete)) %>

<div class='subtitle'>
  <%= render TagComponent.with_collection @note.tags %>
</div>

<div class='columns'>
  <div class='column is-two-thirds'>
    <%= @note.decorate :content %>
  </div>
</div>

<% if @note.has_links? %>
  <div class='columns'>
    <div class='column'>
      <% if @note.company.present? %><p><%= icon_for :companies %><span><%= @note.company.decorate :name_link %></span><% end %>
      <% if @note.contact.present? %><p><%= icon_for :contacts %><span><%= @note.contact.decorate :name_link %></span><% end %>
      <% if @note.project.present? %><p><%= icon_for :projects %><span><%= @note.project.decorate :name_link %></span><% end %>
    </div>
  </div>
<% end %>

<div>Lasted updated: <%= @note.decorate :updated_at_ago %></div>
