<% content_for(:title, 'Note') %>
<% content_for(:back_link, notes_path) %>
<% content_for(:actions, actions_for(@note, :edit, :delete)) %>

<div class='subtitle'>
  <% @note.tags.each do |tag| %>
    <%= link_to note_tag_path(tag) do %>
      <div class='tag is-info is-medium'>
        <%= tag.decorate :name %>
      </div>
    <% end %>
  <% end %>
</div>

<div class='columns'>
  <div class='column is-two-thirds'>
    <div class='box'>
      <%= @note.decorate :content %>
    </div>
  </div>
  <% if @note.has_links? %>
    <div class='column is-one-third'>
      <%= render AttributesTableComponent.new(@note, [
        { contact: [:name_link] },
        { company: [:name_link] },
        { project: [:name_link] },
      ]) %>
    </div>
  <% end %>
</div>

<div>Lasted updated: <%= @note.decorate :updated_at_ago %></div>
