<% content_for(:title, 'Note') %>
<% content_for(:back_link, notes_path) %>
<% content_for(:actions) do %>
  <%= render EditActionComponent.new path: edit_note_path(@note) %>
  <%= render DeleteActionComponent.new path: notes_path(@note), model_name: 'note' %>
<% end %>

<div class='columns'>
  <div class='column is-two-thirds'>
    <%= @note.decorate :content %>
  </div>
</div>

<% if @note.has_links? %>
  <div class='columns'>
    <div class='column'>
      <%= render LinksListComponent.new @note %>
    </div>
  </div>
<% end %>

<div>Lasted updated: <%= @note.decorate :updated_at_ago %></div>
