<table class='table is-fullwidth is-hoverable is-clickable'>
  <thead>
    <tr>
      <th><%= @q.present? ? sort_link(@q, :name) : 'Name' %></th>
      <th>Tags</th>
      <th><%= @q.present? ? sort_link(@q, :due_date) : 'Due date' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% tasks.each do |task| %>
      <tr onclick="javascript:Turbolinks.visit('<%= task_path(task) %>');">
        <td><%= task.decorate :name %></td>
        <td><%= task.decorate :tags %></td>
        <td><%= task.decorate :due_date %></td>
        <td>
          <%= render 'tasks/completed_button', task: task %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
