<p>
  <strong>Name:</strong> <%= @task.name %>
</p>

<% if @task.description.present? %>
  <p>
    <strong>Description:</strong> <%= @task.description %>
  </p>
<% end %>

<p>
  <strong>Due:</strong> <%= @task.decorate :due_date %>
</p>

<p>
  <strong>Completed:</strong> <%= @task.decorate :completed %>
</p>

<% if @task.contact.present? %>
  <p>
    <strong>Contact:</strong> <%= link_to @task.contact.name, contact_path(@task.contact) %>
  </p>
<% end %>

<% if @task.company.present? %>
  <p>
    <strong>Company:</strong> <%= link_to @task.company.name, company_path(@task.company) %>
  </p>
<% end %>

<% if @task.project.present? %>
  <p>
    <strong>Project:</strong> <%= link_to @task.project.name, project_path(@task.project) %>
  </p>
<% end %>

<% if !@task.completed %>
  <%= simple_form_for(@task) do |f| %>
    <%= f.hidden_field :completed, value: true %>
    <%= f.button :submit, 'Mark Completed' %>
  <% end %>
  <br />
<% end %>

<%= link_to 'Edit', edit_task_path(@task), class: 'button is-link' %>
<%= link_to 'Delete', task_path(@task), class: 'button is-danger is-light', method: :delete, data: { confirm: 'Are you sure you want to delete this task?' } %>
<%= link_to 'Back', tasks_path %>
