<% content_for(:title) { @task.name } %>
<h1 class="title"><%= @task.name %></h1>

<%= attributes_table(@task, [
  :description,
  :due_date,
  :completed,
  { contact: [:name_link] },
  { company: [:name_link] },
  { project: [:name_link] },
]) %>

<% if !@task.completed %>
  <%= simple_form_for(@task) do |f| %>
    <%= f.hidden_field :completed, value: true %>
    <%= f.button :submit, 'Mark Completed' %>
  <% end %>
  <br />
<% end %>

<%= link_to 'Edit', edit_task_path(@task), class: 'button is-link' %>
<%= link_to 'Delete', task_path(@task), class: 'button is-danger is-light', method: :delete, data: { confirm: 'Are you sure you want to delete this task?' } %>
<%= link_to 'Back', tasks_path %>
