<% content_for(:title, 'Personal Log') %>
<% content_for(:back_link, root_path) %>
<% content_for(:actions, actions_for(PersonalLog::Entry, :create)) %>

<% if @personal_log_entries.empty? %>
  <div>
    You haven't written any entries yet.
  </div>
<% else %>
  <% previous_day = nil %>
  <% @personal_log_entries.each do |personal_log_entry| %>
    <% new_day = personal_log_entry.date.beginning_of_day %>
    <% if previous_day != new_day %>
      <% previous_day = new_day %>
      <h1 class='title is-4'><%= personal_log_entry.decorate :day %></h1>
    <% end %>
    <div class='columns'>
      <div class='column is-6'>
        <div class='card'>
          <div class='card-content'>
            <p class='title is-4 has-text-centered'>
              <%= link_to personal_log_entry, class: 'has-text-black' do %>
                <%= personal_log_entry.decorate :time %>
              <% end %>
            </p>
            <div class='content'>
              <%= personal_log_entry.decorate :content %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= paginate @personal_log_entries %>
<% end %>

<br />

<%= link_to 'New Entry', new_personal_log_entry_path, class: 'button is-link' %>
