<% content_for(:title, 'Personal Log') %>
<% content_for(:back_link, dashboard_home_path) %>
<% content_for(:page_style, :narrow) %>
<% content_for(:actions) do %>
  <%= render CreateActionComponent.new path: new_personal_log_entry_path %>
<% end %>

<% if @personal_log_entries.empty? %>
  <div>
    You haven't written any entries yet.
  </div>
<% else %>
  <% previous_day = nil %>
  <% @personal_log_entries.each do |personal_log_entry| %>
    <% new_day = personal_log_entry.entry_date %>
    <% if previous_day != new_day %>
      <% previous_day = new_day %>
      <h1 class='title is-4'><%= personal_log_entry.decorate :day %></h1>
    <% end %>
    <div class='columns'>
      <div class='column is-8'>
        <%= render 'personal_log/entries/personal_log_entry', personal_log_entry: personal_log_entry %>
      </div>
    </div>
  <% end %>

  <%= paginate @personal_log_entries %>
<% end %>

<br />

<%= link_to 'New Entry', new_personal_log_entry_path, class: 'button is-link' %>
