<% content_for(:title, 'Log Entry') %>
<% content_for(:back_link, personal_log_entries_path) %>
<% content_for(:actions) do %>
  <%= render EditActionComponent.new path: edit_personal_log_entry_path(@personal_log_entry) %>
  <%= render DeleteActionComponent.new path: personal_log_entry_path(@personal_log_entry), model_name: 'log entry' %>
<% end %>

<%= @personal_log_entry.decorate :content %>

<div class="block">
  <div>
    <strong>Date:</strong> <%= @personal_log_entry.decorate :date %>
  </div>

  <% if @personal_log_entry.geolocation.present? %>
    <div>
      <strong>Location:</strong> <%= @personal_log_entry.decorate :geolocation_coordinates %>
    </div>
  <% end %>
</div>

<% if @personal_log_entry.geolocation.present? %>
  <div class='block'>
    <%= @personal_log_entry.decorate :geolocation_map %>
  </div>
<% end %>
