<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Website</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.name, contact_path(contact) %></td>
        <td><%= contact.description %></td>
        <td><%= contact.website %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Contact', new_contact_path, method: :get %>
