<h2>Contact Details</h2>

<p>
  <strong>Name:</strong>
  <%= @contact.decorate :name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @contact.description %>
</p>

<p>
  <strong>Website:</strong>
  <%= @contact.decorate :website %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.decorate :email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.decorate :phone %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> /
<%= link_to 'Delete', contact_path(@contact), method: :delete, data: { confirm: "Are you sure you want to delete #{@contact.decorate :name}" } %>

<h2>Notes</h2>

<p>
  <%= render 'notes/notes', notes: Array(@contact.notes) %>
</p>

<p>
  <%= link_to 'New Note', new_note_path(contact_id: @contact.id) %>
</p>

<h2>Tasks</h2>

<p>
  <%= render 'tasks/tasks', tasks: Array(@contact.tasks) %>
</p>

<p>
  <%= link_to 'New Task', new_task_path(contact_id: @contact.id) %>
</p>

<%= link_to 'Back', contacts_path %>
