<% content_for(:title) { @contact.decorate :name } %>
<% content_for(:hide_body_title, true) %>
<% content_for(:back_link, contacts_path) %>
<% content_for(:actions) do %>
  <%= actions_dropdown(:create, [
    { icon: :notes, label: 'Add Note', path: new_note_path(contact_id: @contact.id) },
    { icon: :tasks, label: 'Add Task', path: new_task_path(contact_id: @contact.id) },
  ]) %>
  <%= render EditActionComponent.new path: edit_contact_path(@contact) %>
  <%= render DeleteActionComponent.new path: contact_path(@contact), model_name: 'contact' %>
<% end %>

<div class='columns'>
  <div class='column'>
    <div class='columns'>
      <div class='column'>
        <h1 class='title'><%= @contact.decorate :name %></h1>
        <div class='subtitle'>
          <%= render TagComponent.with_collection @contact.tags %>
        </div>
      </div>
      <div class='column is-narrow'>
        <div class='has-text-right is-hidden-mobile'>
          <%= render StarButtonComponent.new @contact %>
        </div>
      </div>
    </div>
    <%= render AttributesTableComponent.new(@contact, [
      :address,
      { company: [:name_link] },
      :job_title,
      :job_department,
      :description,
      :website,
      :email,
      :work_phone,
      :home_phone,
      :mobile_phone,
      :birthday
    ], custom_values: true) %>
  </div>
</div>

<% if @contact.tasks.uncompleted.any? %>
  <div class='columns'>
    <div class='column'>
      <h1 class='title'>Tasks</h1>
      <%= render LinkedItemsPanelComponent.new @contact, items: @contact.tasks.uncompleted %>
    </div>
  </div>
<% end %>

<% if @contact.notes.any? %>
  <div class='columns'>
    <div class='column'>
      <h1 class='title'>Notes</h1>
      <%= render 'notes/notes', notes: @contact.notes.includes(:tags, :project, :company) %>
    </div>
  </div>
<% end %>

<% if @contact.wiki_pages.any? %>
  <div class='columns'>
    <div class='column'>
      <h1 class='title'>Wiki Pages</h1>
      <%= render 'wiki/list', pages: @contact.wiki_pages %>
    </div>
  </div>
<% end %>

<% if @contact.address.present? %>
  <div class='columns'>
    <div class='column'>
      <%= render MapComponent.new query: @contact.address %>
    </div>
  </div>
<% end %>

<div>Last updated: <%= @contact.decorate :updated_at_ago %></div>
