<h2 class="title"><%= @contact.decorate :name %></h2>

<%= render 'common/attributes_table', attributes: {
  address: @contact.decorate(:address),
  company: @contact.company.present? ? link_to(@contact.company.name, company_path(@contact.company)) : nil,
  job_title: @contact.job_title,
  department: @contact.job_department,
  description: @contact.description,
  website: @contact.decorate(:website),
  email: @contact.decorate(:email),
  work_phone: @contact.decorate(:work_phone),
  home_phone: @contact.decorate(:home_phone),
  mobile_phone: @contact.decorate(:mobile_phone),
  birthday: @contact.decorate(:birthday),
} %>

<%= link_to 'Edit', edit_contact_path(@contact), class: 'button is-link' %>
<%= link_to 'Delete', contact_path(@contact), class: 'button is-danger is-light', method: :delete, data: { confirm: "Are you sure you want to delete #{@contact.decorate :name}" } %>

<h2 class="title">Notes</h2>

<p>
  <%= render 'notes/notes', notes: Array(@contact.notes) %>
</p>

<p>
  <%= link_to 'New Note', new_note_path(contact_id: @contact.id), class: 'button is-link' %>
</p>

<h2 class="title">Tasks</h2>

<p>
  <%= render 'tasks/tasks', tasks: Array(@contact.tasks) %>
</p>

<p>
  <%= link_to 'New Task', new_task_path(contact_id: @contact.id), class: 'button is-link' %>
</p>

<h2 class="title">Projects</h2>

<p>
  <%= render 'projects/projects', projects: Array(@contact.projects) %>
</p>

<p>
  <%= link_to 'New Project', new_project_path(contact_ids: [@contact.id]), class: 'button is-link' %>
</p>

<%= link_to 'Back', contacts_path %>
