<h2>Contact Details</h2>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @contact.description %>
</p>

<p>
  <strong>Website:</strong>
  <%= @contact.website %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<% if @contact.notes.present? %>
  <h2>Notes</h2>
  <%= render 'notes/notes', notes: @contact.notes %>
<% end %>

<%= link_to 'Edit', edit_contact_path(@contact) %> /
<%= link_to 'Back', contacts_path %>
