<% content_for(:title) { @contact.decorate :name } %>
<% content_for(:sidebar) { render 'contacts/sidebar' } %>
<% content_for(:back_link, contacts_path) %>
<% content_for(:actions) do %>
  <%= actions_dropdown(:create, [
    { icon: :notes, label: 'Add Note', path: new_note_path(contact_id: @contact.id) },
    { icon: :tasks, label: 'Add Task', path: new_task_path(contact_id: @contact.id) },
    { icon: :projects, label: 'Add Project', path: new_project_path(contact_id: @contact.id) }
  ]) %>
  <%= actions_for(@contact, :edit, :delete) %>
<% end %>

<div class='subtitle'>
  <% @contact.tags.each do |tag| %>
    <%= link_to contact_tag_path(tag) do %>
      <div class='tag is-info is-medium'>
        <%= tag.decorate :name %>
      </div>
    <% end %>
  <% end %>
</div>

<div class='column'>
  <div class='column'>
    <% if @contact.starred_by?(current_user) %>
      <%= link_to toggle_star_path(type: 'contact', id: @contact.id), class: 'button is-outline' do %>
        <%= icon_for :starred %>
        <span>Starred</span>
      <% end %>
    <% else %>
      <%= link_to toggle_star_path(type: 'contact', id: @contact.id), class: 'button is-outline' do %>
        <%= icon_for :star %>
        <span>Star</span>
      <% end %>
    <% end %>
  </div>
</div>

<div class='columns'>
  <div class='column is-two-thirds'>
    <%= attributes_table(@contact, [
      :address,
      { company: [:name_link] },
      :job_title,
      :job_department,
      :description,
      :website,
      :email,
      :work_phone,
      :home_phone,
      :mobile_phone,
      :birthday
    ], custom_values: true) %>
  </div>
  <div class='column is-one-third'>
    <%= render 'common/linked_items_panel', parent: @contact, scope: :notes, display_attribute: :title %>
    <%= render 'common/linked_items_panel', parent: @contact, scope: :tasks %>
    <%= render 'common/linked_items_panel', parent: @contact, scope: :projects %>
  </div>
</div>

<% if @contact.address.present? %>
  <div class='card' style='height: 400px;'>
    <iframe
      src="https://www.google.com/maps?q=<%= @contact.address %>&output=embed"
      frameborder="0"
      style="border:0;"
      allowfullscreen=""
      aria-hidden="false"
      width="100%"
      height="400px"
      tabindex="0"
    ></iframe>
  </div>
<% end %>
