<% content_for(:title) { @contact.decorate :name } %>
<% content_for(:hide_body_title, true) %>
<% content_for(:back_link, contacts_path) %>
<% content_for(:actions) do %>
  <%= actions_dropdown(:create, [
    { icon: :notes, label: 'Add Note', path: new_note_path(contact_id: @contact.id) },
    { icon: :tasks, label: 'Add Task', path: new_task_path(contact_id: @contact.id) },
    { icon: :projects, label: 'Add Project', path: new_project_path(contact_id: @contact.id) }
  ]) %>
  <%= actions_for(@contact, :edit, :delete) %>
<% end %>

<div class='columns'>
  <div class='column is-two-thirds'>
    <div class='columns'>
      <div class='column'>
        <h1 class='title'><%= @contact.decorate :name %></h1>
        <div class='subtitle'>
          <%= render TagComponent.with_collection @contact.tags %>
        </div>
      </div>
      <div class='column is-narrow'>
        <div class='has-text-right is-hidden-mobile'>
          <%= render StarButtonComponent.new @contact %>
        </div>
      </div>
    </div>
    <%= render AttributesTableComponent.new(@contact, [
      :address,
      { company: [:name_link] },
      :job_title,
      :job_department,
      :description,
      :website,
      :email,
      :work_phone,
      :home_phone,
      :mobile_phone,
      :birthday
    ], custom_values: true) %>
  </div>
  <div class='column is-one-third'>
    <%= render LinkedItemsPanelComponent.new @contact, items: @contact.notes, display_attribute: :title %>
    <%= render LinkedItemsPanelComponent.new @contact, items: @contact.tasks.uncompleted %>
    <%= render LinkedItemsPanelComponent.new @contact, items: @contact.projects.active %>
  </div>
</div>

<% if @contact.address.present? %>
  <div class='columns'>
    <div class='column'>
      <%= render MapComponent.new query: @contact.address %>
    </div>
  </div>
<% end %>

<div>Last updated: <%= @contact.decorate :updated_at_ago %></div>
