<h2>Project Details</h2>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date %>
</p>

<% if @project.notes.present? %>
  <h2>Notes</h2>
  <%= render 'notes/notes', notes: @project.notes %>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> /
<%= link_to 'Back', projects_path %>
