<h2>Project Details</h2>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date %>
</p>

<h2>Notes</h2>

<p>
  <%= render 'notes/notes', notes: @project.notes %>
</p>

<p>
  <%= link_to 'New Note', new_note_path(project_id: @project.id) %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> /
<%= link_to 'Back', projects_path %>
