<% content_for(:title) { @project.name } %>
<% content_for(:hide_body_title, true) %>
<% content_for(:back_link, projects_path) %>
<% content_for(:actions, actions_for(@project, :edit, :delete)) %>

<div class='columns'>
  <div class='column is-two-thirds'>
    <h1 class='title'><%= @project.decorate :name %></h1>
    <div class='subtitle'>
      <%= render TagComponent.with_collection(@project.tags) %>
    </div>
    <%= render AttributesTableComponent.new(@project, [
      :description,
      :start_date,
      :end_date,
      :contacts,
      :companies
    ]) %>
  </div>
  <div class='column is-one-third'>
    <%= render LinkedItemsPanelComponent.new @project, :tasks %>
  </div>
</div>

<div class='columns'>
  <div class='column'>
    <h2 class='title'>Notes</h2>
    <%= link_to 'New Note', new_note_path(project_id: @project.id), class: 'button is-link' %>
  </div>
</div>

<div class='columns'>
  <div class='column'>
    <%= render 'notes/notes', notes: @project.notes.includes(:user, :tags).page(params[:notes_page]) %>
  </div>
</div>
