<table class="table is-fullwidth">
  <thead>
    <tr>
      <th><%= sort_link @q, :name %></th>
      <th class="is-hidden-mobile is-hidden-tablet-only">Description</th>
      <th class="is-hidden-mobile">Website</th>
      <th class="is-hidden-mobile">Email</th>
      <th>Phone</th>
      <th class="is-hidden-mobile is-hidden-tablet-only">Groups</th>
    </tr>
  </thead>

  <tbody>
    <% companies.each do |company| %>
      <tr>
        <td><%= link_to company.name, company_path(company) %></td>
        <td class="is-hidden-mobile is-hidden-tablet-only"><%= company.description %></td>
        <td class="is-hidden-mobile"><%= company.decorate :website %></td>
        <td class="is-hidden-mobile"><%= company.decorate :email %></td>
        <td><%= company.decorate :phone %></td>
        <td class="is-hidden-mobile is-hidden-tablet-only"><%= company.decorate :groups %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate companies %>
