<table class="table is-fullwidth">
  <thead>
    <tr>
      <th><%= sort_link @q, :name %></th>
      <th>Description</th>
      <th>Website</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    <% companies.each do |company| %>
      <tr>
        <td><%= link_to company.name, company_path(company) %></td>
        <td><%= company.description %></td>
        <td><%= company.decorate :website %></td>
        <td><%= company.decorate :email %></td>
        <td><%= company.decorate :phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate companies %>
