<aside class="menu">
  <ul class="menu-list">
    <li>
      <%= link_to companies_path, class: current_page?(companies_path) ? 'is-active' : nil do %>
        <%= icon_for :companies %>&nbsp;Companies
      <% end %>
    </li>
    <li>
      <%= link_to company_groups_path, class: current_page?(company_groups_path) ? 'is-active' : nil do %>
        <%= icon_for :groups %>&nbsp;Groups
      <% end %>
    </li>
    <li>
      <%= link_to company_fields_path, class: params[:controller] == 'company_fields' ? 'is-active' : nil do %>
        <%= icon_for :custom_fields %>&nbsp;Custom Fields
      <% end %>
    </li>
  </ul>
</aside>
