<aside class="menu">
  <ul class="menu-list">
    <li>
      <%= link_to companies_path, class: params[:controller] == 'companies' ? 'is-active' : nil do %>
        <%= icon_for :companies %>&nbsp;Companies
      <% end %>
    </li>
    <li>
      <%= link_to company_groups_path, class: params[:controller] == 'company_groups' ? 'is-active' : nil do %>
        <%= icon_for :groups %>&nbsp;Groups
      <% end %>
    </li>
    <li>
      <%= link_to company_fields_path, class: params[:controller] == 'fields' && params[:domain] == 'company' ? 'is-active' : nil do %>
        <%= icon_for :custom_fields %>&nbsp;Custom Fields
      <% end %>
    </li>
    <li>
      <a><%= icon_for :favourites %>&nbsp;Favourites</a>
    </li>
    <li>
      <a><%= icon_for :import %>&nbsp;Import</a>
    </li>
    <li>
      <a><%= icon_for :export %>&nbsp;Export</a>
    </li>
    <li>
      <a><%= icon_for :help %>&nbsp;Help</a>
    </li>
  </ul>
</aside>
