<div class="tabs">
  <ul>
    <li class="<%= current_page?(company_path(company)) ? 'is-active' : nil %>">
      <%= link_to 'Company', company_path(company) %>
    </li>
    <li class="<%= current_page?(company_notes_path(company)) ? 'is-active' : nil %>">
      <%= link_to company_notes_path(company) do %>
        Notes&nbsp;<span class="tag is-rounded is-light is-primary"><%= company.notes.count %></span>
      <% end %>
    </li>
    <li class="<%= current_page?(company_contacts_path(company)) ? 'is-active' : nil %>">
      <%= link_to company_contacts_path(company) do %>
        Contacts&nbsp;<span class="tag is-rounded is-light is-primary"><%= company.contacts.count %></span>
      <% end %>
    </li>
    <li class="<%= current_page?(company_tasks_path(company)) ? 'is-active' : nil %>">
      <%= link_to company_tasks_path(company) do %>
        Tasks&nbsp;<span class="tag is-rounded is-light is-primary"><%= company.tasks.count %></span>
      <% end %>
    </li>
    <li class="<%= current_page?(company_projects_path(company)) ? 'is-active' : nil %>">
      <%= link_to company_projects_path(company) do %>
        Projects&nbsp;<span class="tag is-rounded is-light is-primary"><%= company.projects.count %></span>
      <% end %>
    </li>
  </ul>
</div>
