<% content_for(:title) { @company.name } %>
<% content_for(:back_link, companies_path) %>
<% content_for(:sidebar) { render 'companies/sidebar' } %>
<% content_for(:actions) do %>
  <div class='navbar-item has-dropdown is-hoverable is-hidden-touch'>
    <a class='navbar-link is-arrowless'><%= icon_for :create %></a>
    <div class='navbar-dropdown'>
      <%= link_to new_contact_path(company_id: @company.id), class: 'navbar-item' do %>
        <%= icon_for :contacts %>&nbsp;Add Contact
      <% end %>
      <%= link_to new_note_path(company_id: @company.id), class: 'navbar-item' do %>
        <%= icon_for :notes %>&nbsp;Add Note
      <% end %>
      <%= link_to new_project_path(company_id: @company.id), class: 'navbar-item' do %>
        <%= icon_for :projects %>&nbsp;Add Project
      <% end %>
      <%= link_to new_task_path(company_id: @company.id), class: 'navbar-item' do %>
        <%= icon_for :tasks %>&nbsp;Add Task
      <% end %>
    </div>
  </div>
  <%= link_to edit_company_path(@company), class: 'navbar-item' do %>
    <%= icon_for :edit %>
  <% end %>
  <%= link_to company_path(@company), class: 'navbar-item', method: :delete, data: { confirm: "Are you sure you want to delete #{@company.name}?" } do %>
    <%= icon_for :delete %>
  <% end %>
<% end %>

<div class='columns'>
  <div class='column is-two-thirds'>
    <%= attributes_table(@company, [
      :description,
      :groups,
      :website,
      :email,
      :phone
    ], custom_values: true, size: 'is-two-thirds') %>
  </div>
  <div class='column is-one-third'>
    <%= render 'common/linked_items_panel', parent: @company, scope: :tasks %>
    <%= render 'common/linked_items_panel', parent: @company, scope: :notes, display_attribute: :title %>
    <%= render 'common/linked_items_panel', parent: @company, scope: :projects %>
    <%= render 'common/linked_items_panel', parent: @company, scope: :contacts %>
  </div>
</div>

<% if @company.address.present? %>
  <div class='card' style='height: 400px;'>
    <iframe
      src="https://www.google.com/maps?q=<%= @company.address %>&output=embed"
      frameborder="0"
      style="border:0;"
      allowfullscreen=""
      aria-hidden="false"
      width="100%"
      height="400px"
      tabindex="0"
    ></iframe>
  </div>
<% end %>
