<h2>Company Details</h2>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @company.phone %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> /
<%= link_to 'Delete', company_path(@company), method: :delete, data: { confirm: 'Are you sure you want to delete this company?' } %>

<h2>Notes</h2>

<p>
  <%= render 'notes/notes', notes: Array(@company.notes) %>
</p>

<p>
  <%= link_to 'New Note', new_note_path(company_id: @company.id) %>
</p>

<h2>Contacts</h2>

<p>
  <%= render 'contacts/contacts', contacts: Array(@company.contacts) %>
</p>

<p>
  <%= link_to 'Add Contact', new_contact_path(company_id: @company_id) %>
</p>

<%= link_to 'Back', companies_path %>
