<% content_for(:title) { @company.name } %>
<% content_for(:back_link, companies_path) %>
<% content_for(:sidebar) { render 'companies/sidebar' } %>
<% content_for(:actions) do %>
  <%= actions_dropdown(:create, [
    { icon: :contacts, label: 'Add Contact', path: new_contact_path(company_id: @company.id) },
    { icon: :notes, label: 'Add Note', path: new_note_path(company_id: @company.id) },
    { icon: :projects, label: 'Add Project', path: new_project_path(company_id: @company.id) },
    { icon: :tasks, label: 'Add Task', path: new_task_path(company_id: @company.id) }
  ]) %>
  <%= actions_for(@company, :edit, :delete) %>
<% end %>

<div class='columns'>
  <div class='column is-two-thirds'>
    <%= attributes_table(@company, [
      :description,
      :groups,
      :website,
      :email,
      :phone
    ], custom_values: true, size: 'is-two-thirds') %>
  </div>
  <div class='column is-one-third'>
    <%= render 'common/linked_items_panel', parent: @company, scope: :tasks %>
    <%= render 'common/linked_items_panel', parent: @company, scope: :notes, display_attribute: :title %>
    <%= render 'common/linked_items_panel', parent: @company, scope: :projects %>
    <%= render 'common/linked_items_panel', parent: @company, scope: :contacts %>
  </div>
</div>

<% if @company.address.present? %>
  <div class='card' style='height: 400px;'>
    <iframe
      src="https://www.google.com/maps?q=<%= @company.address %>&output=embed"
      frameborder="0"
      style="border:0;"
      allowfullscreen=""
      aria-hidden="false"
      width="100%"
      height="400px"
      tabindex="0"
    ></iframe>
  </div>
<% end %>
