<% content_for(:title) { @company.name } %>
<% content_for(:hide_body_title, true) %>
<% content_for(:back_link, companies_path) %>
<% content_for(:actions) do %>
  <%= actions_dropdown(:create, [
    { icon: :contacts, label: 'Add Contact', path: new_contact_path(company_id: @company.id) },
    { icon: :notes, label: 'Add Note', path: new_note_path(company_id: @company.id) },
    { icon: :tasks, label: 'Add Task', path: new_task_path(company_id: @company.id) }
  ]) %>
  <%= render EditActionComponent.new path: edit_company_path(@company) %>
  <%= render DeleteActionComponent.new path: company_path(@company), model_name: 'company' %>
<% end %>

<div class='columns'>
  <div class='column'>
    <div class='columns'>
      <div class='column'>
        <h1 class='title'><%= @company.name %></h1>
        <div class='subtitle'>
          <%= render TagComponent.with_collection @company.tags %>
        </div>
      </div>
      <div class='column is-narrow'>
        <div class='has-text-right is-hidden-mobile'>
          <%= render StarButtonComponent.new @company %>
        </div>
      </div>
    </div>
    <%= render AttributesTableComponent.new(@company, [
      :description,
      :website,
      :email,
      :phone
    ], custom_values: true) %>
  </div>
</div>

<% if @company.tasks.uncompleted.any? %>
  <div class='columns'>
    <div class='column'>
      <h1 class='title'>Tasks</h1>
      <%= render 'tasks/tasks', tasks: @company.tasks.uncompleted %>
    </div>
  </div>
<% end %>

<% if @company.notes.any? %>
  <div class='columns'>
    <div class='column'>
      <h1 class='title'>Notes</h1>
      <%= render 'notes/notes', notes: @company.notes %>
    </div>
  </div>
<% end %>

<% if @company.contacts.any? %>
  <div class='columns'>
    <div class='column'>
      <h1 class='title'>Contacts</h1>
      <%= render 'contacts/contacts', contacts: @company.contacts %>
    </div>
  </div>
<% end %>

<% if @company.address.present? %>
  <div class='columns'>
    <div class='column'>
      <%= render MapComponent.new query: @company.address %>
    </div>
  </div>
<% end %>

<div>Last updated: <%= @company.decorate :updated_at_ago %></div>
