<% content_for(:title) { @company.name } %>
<% content_for(:hide_body_title, true) %>
<% content_for(:back_link, companies_path) %>
<% content_for(:actions) do %>
  <%= actions_dropdown(:create, [
    { icon: :contacts, label: 'Add Contact', path: new_contact_path(company_id: @company.id) },
    { icon: :notes, label: 'Add Note', path: new_note_path(company_id: @company.id) },
    { icon: :projects, label: 'Add Project', path: new_project_path(company_id: @company.id) },
    { icon: :tasks, label: 'Add Task', path: new_task_path(company_id: @company.id) }
  ]) %>
  <%= actions_for(@company, :edit, :delete) %>
<% end %>

<div class='columns'>
  <div class='column is-two-thirds'>
    <div class='columns'>
      <div class='column'>
        <h1 class='title'><%= @company.name %></h1>
        <div class='subtitle'>
          <%= render TagComponent.with_collection @company.tags %>
        </div>
      </div>
      <div class='column is-narrow'>
        <div class='has-text-right is-hidden-mobile'>
          <%= render StarButtonComponent.new @company %>
        </div>
      </div>
    </div>
    <%= render AttributesTableComponent.new(@company, [
      :description,
      :website,
      :email,
      :phone
    ], custom_values: true) %>
  </div>
  <div class='column is-one-third'>
    <%= render LinkedItemsPanelComponent.new @company, :tasks %>
    <%= render LinkedItemsPanelComponent.new @company, :notes, display_attribute: :title %>
    <%= render LinkedItemsPanelComponent.new @company, :projects %>
    <%= render LinkedItemsPanelComponent.new @company, :contacts %>
  </div>
</div>

<% if @company.address.present? %>
  <div class='columns'>
    <div class='column'>
      <%= render MapComponent.new query: @company.address %>
    </div>
  </div>
<% end %>

<div>Last updated: <%= @company.decorate :updated_at_ago %></div>
