<% content_for(:title) { @company.name } %>
<% content_for(:back_link, companies_path) %>
<% content_for(:actions) do %>
  <%= link_to edit_company_path(@company), class: 'navbar-item' do %>
    <%= icon_for :edit %>
  <% end %>
  <%= link_to company_path(@company), class: 'navbar-item', method: :delete, data: { confirm: "Are you sure you want to delete #{@company.name}?" } do %>
    <%= icon_for :delete %>
  <% end %>
<% end %>

<h2 class="title"><%= @company.name %></h2>
<%= render 'tabs', company: @company %>

<%= attributes_table(@company, [
  :description,
  :groups,
  :website,
  :email,
  :phone,
  :address
]) %>
