<% content_for(:title) { @company.name } %>
<h2 class="title"><%= @company.name %></h2>
<%= render 'tabs', company: @company %>

<%= render 'common/attributes_table', attributes: {
  description: @company.description,
  website: @company.decorate(:website),
  email: @company.decorate(:email),
  phone: @company.decorate(:phone)
} %>

<%= link_to 'Edit', edit_company_path(@company), class: 'button is-link' %>
<%= link_to 'Delete', company_path(@company), class: 'button is-danger is-light', method: :delete, data: { confirm: 'Are you sure you want to delete this company?' } %>

<br />

<%= link_to 'Back', companies_path %>
