<h2>Company Details</h2>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @company.phone %>
</p>

<% if @company.notes.present? %>
  <h2>Notes</h2>
  <%= render 'notes/notes', notes: @company.notes %>
<% end %>

<%= link_to 'Edit', edit_company_path(@company) %> /
<%= link_to 'Back', companies_path %>
