<nav class='navbar is-spaced is-fixed-top' role='navigation' aria-label='main navigation'>
  <div class='navbar-brand'>
    <%= link_to dashboard_home_path, class: 'navbar-item' do %>
      <h1 class='title is-4'><%= EnvSettings.product_name %></h1>
    <% end %>

    <% if content_for?(:back_link) %>
      <%= link_to yield(:back_link), class: 'navbar-item' do %>
        <%= icon_for :back %>
      <% end %>
    <% end %>

    <% if content_for?(:actions) %>
      <%= yield(:actions) %>
    <% end %>

    <a role='button' class='navbar-burger burger' aria-label='menu' aria-expanded='false' data-target='mainNavbar'>
      <span aria-hidden='true'></span>
      <span aria-hidden='true'></span>
      <span aria-hidden='true'></span>
    </a>
  </div>

  <div id='mainNavbar' class='navbar-menu'>
    <div class='navbar-end'>
      <% if user_signed_in? %>
        <div class='navbar-item is-hidden-touch'>
          <%= current_user.decorate :name %>
        </div>

        <div class='navbar-item has-dropdown is-hoverable'>
          <a class='navbar-link is-arrowless'>
            <%= icon_for :apps %>
            <% if content_for?(:title) %>
              <span><%= yield(:title) %></span>
            <% end %>
          </a>

          <div class='navbar-dropdown'>
            <%= link_to companies_path, class: 'navbar-item' do %>
              <%= icon_for :companies %><span>Companies</span>
            <% end %>

            <%= link_to contacts_path, class: 'navbar-item' do %>
              <%= icon_for :contacts %><span>Contacts</span>
            <% end %>

            <%= link_to notes_path, class: 'navbar-item' do %>
              <%= icon_for :notes %><span>Notes</span>
            <% end %>

            <%= link_to personal_log_entries_path, class: 'navbar-item' do %>
              <%= icon_for :personal_log %><span>Personal Log</span>
            <% end %>

            <%= link_to projects_path, class: 'navbar-item' do %>
              <%= icon_for :projects %><span>Projects</span>
            <% end %>

            <%= link_to tasks_path, class: 'navbar-item' do %>
              <%= icon_for :tasks %><span>Tasks</span>
            <% end %>

            <%= link_to wiki_folders_path, class: 'navbar-item' do %>
              <%= icon_for :wiki %><span>Wiki</span>
            <% end %>
          </div>
        </div>

        <a class='navbar-item'><%= icon_for :help %><span class='is-hidden-desktop'>Help</span></a>
        <%= link_to settings_profile_index_path, class: 'navbar-item', title: 'Settings' do %>
          <%= icon_for :settings %><span class='is-hidden-desktop'>Settings</span>
        <% end %>
        <%= link_to destroy_user_session_path, class: 'navbar-item', method: :delete, title: 'Sign Out' do %>
          <%= icon_for :sign_out %><span class='is-hidden-desktop'>Sign Out</span>
        <% end %>
      <% else %>
        <div class='navbar-item'>
          <div class='buttons'>
            <%= link_to new_user_session_path, class: 'button is-link is-rounded' do %>
              <%= icon_for :log_in %>
              <span>Log in</span>
            <% end %>
            <%= link_to new_user_registration_path, class: 'button is-light is-outlined is-rounded' do %>
              <%= icon_for :sign_up %>
              <span>Sign up</span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>
