<% content_for(:title, @field.name) %>
<% content_for(:back_link, polymorphic_path([params[:domain], :fields])) %>
<% content_for(:actions) do %>
  <%= link_to polymorphic_path([:edit, params[:domain], @field]), class: 'navbar-item' do %>
    <%= icon_for :edit %>
  <% end %>
  <%= link_to polymorphic_path([params[:domain], @field]), class: 'navbar-item', method: :delete, data: { confirm: "Are you sure you want to delete #{@field.name}?" } do %>
    <%= icon_for :delete %>
  <% end %>
<% end %>
<%= render 'sidebar' %>
<h1 class='title'><%= @field.name %></h1>
