<% content_for(:title, @field.name) %>
<% content_for(:back_link, company_fields_path) %>
<% content_for(:page_style, :fullwidth) %>
<% content_for(:sidebar) { render 'companies/sidebar' } %>
<% content_for(:actions) do %>
  <%= link_to edit_company_field_path(@field), class: 'navbar-item' do %>
    <%= icon_for :edit %>
  <% end %>
  <%= link_to company_field_path(@field), class: 'navbar-item', method: :delete, data: { confirm: "Are you sure you want to delete #{@field.name}?" } do %>
    <%= icon_for :delete %>
  <% end %>
<% end %>
<h1 class='title'><%= @field.name %></h1>
