<% items = parent.public_send(scope) %>
<% singular = scope.to_s.singularize %>
<% display_attribute = display_attribute.presence || :name %>

<nav class='panel is-info'>
  <p class='panel-heading'>
    <%= icon_for(scope) %><span><%= pluralize(items.count, singular.capitalize) %></span>
  </p>

  <% items.limit(10).each do |item| %>
    <%= link_to item.decorate(display_attribute), url_for(item), class: 'panel-block' %>
  <% end %>

  <div class='panel-block'>
    <%= link_to polymorphic_path([parent, scope]), class: 'button is-link is-outlined is-fullwidth mr-1' do %>
      <span>View All</span><%= icon_for(:go_to) %>
    <% end %>
    <%= link_to polymorphic_path([:new, singular], { "#{parent.model_name.to_s.downcase}_id": parent.id }), class: 'button is-link is-outlined is-fullwidth ml-1' do %>
      <%= icon_for :create %><span>Create</span>
    <% end %>
  </div>
</nav>
