<% content_for(:page_style, :landing) %>

<div class='section'>
  <section class='hero is-primary is-bold'>
    <div class='hero-body'>
      <div class='container'>
        <h1 class='title'>Dashwork</h1>
        <h2 class='subtitle'>An information management platform</h2>
      </div>
    </div>
  </section>
  <br />
  <div class='container'>
    <h1 class='title'>Get Started</h1>
    <div class='columns'>
      <div class='column is-one-fifth'>
        <aside class='menu'>
          <ul class='menu-list'>
            <a class='landing-module-toggler is-active' data-module-id='assets'><%= icon_for :assets %><span>Assets</span></a>
            <a class='landing-module-toggler' data-module-id='calendar'><%= icon_for :calendar %><span>Calendar</span></a>
            <a class='landing-module-toggler' data-module-id='companies'><%= icon_for :companies %><span>Companies</span></a>
            <a class='landing-module-toggler' data-module-id='contacts'><%= icon_for :contacts %><span>Contacts</span></a>
            <a class='landing-module-toggler' data-module-id='equipment'><%= icon_for :equipment %><span>Equipment</span></a>
            <a class='landing-module-toggler' data-module-id='forms'><%= icon_for :forms %><span>Forms</span></a>
            <a class='landing-module-toggler' data-module-id='notes'><%= icon_for :notes %><span>Notes</span></a>
            <a class='landing-module-toggler' data-module-id='personal_log'><%= icon_for :personal_log %><span>Personal Log</span></a>
            <a class='landing-module-toggler' data-module-id='projects'><%= icon_for :projects %><span>Projects</span></a>
            <a class='landing-module-toggler' data-module-id='tasks'><%= icon_for :tasks %><span>Tasks</span></a>
          </ul>
        </aside>
      </div>
      <div class='column'>
        <article class='landing-module-content' data-module-id='assets'>
          <h1 class='title is-4'>Assets</h1>
          <p>
            This is a description for the assets module
          </p>
        </article>

        <article class='landing-module-content is-hidden' data-module-id='calendar'>
          <h1 class='title is-4'>Calendar</h1>
          <p>
            This is a description for the calendar module
          </p>
        </article>

        <article class='landing-module-content is-hidden' data-module-id='companies'>
          <h1 class='title is-4'>Companies</h1>
          <p>
            This is a description for the companies module
          </p>
        </article>

        <article class='landing-module-content is-hidden' data-module-id='contacts'>
          <h1 class='title is-4'>Contacts</h1>
          <p>
            This is a description for the contacts module
          </p>
        </article>

        <article class='landing-module-content is-hidden' data-module-id='equipment'>
          <h1 class='title is-4'>Equipment</h1>
          <p>
            This is a description for the equipment module
          </p>
        </article>

        <article class='landing-module-content is-hidden' data-module-id='forms'>
          <h1 class='title is-4'>Forms</h1>
          <p>
            This is a description for the forms module
          </p>
        </article>

        <article class='landing-module-content is-hidden' data-module-id='notes'>
          <h1 class='title is-4'>Notes</h1>
          <p>
            This is a description for the notes module
          </p>
        </article>

        <article class='landing-module-content is-hidden' data-module-id='personal_log'>
          <h1 class='title is-4'>Personal Log</h1>
          <p>
            This is a description for the personal log module
          </p>
        </article>

        <article class='landing-module-content is-hidden' data-module-id='projects'>
          <h1 class='title is-4'>Projects</h1>
          <p>
            This is a description for the projects module
          </p>
        </article>

        <article class='landing-module-content is-hidden' data-module-id='tasks'>
          <h1 class='title is-4'>Tasks</h1>
          <p>
            This is a description for the tasks module
          </p>
        </article>
      </div>
    </div>
  </div>
</div>
