<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashwork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'navbar' %>

    <section class="section">
      <div class="container">
        <% if flash[:notice].present? %><div class="notification is-info"><%= notice %></div><% end %>
        <% if flash[:alert].present? %><div class="notification is-warning"><%= alert %></div><% end %>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
