<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashwork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1/new.min.css">
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
  </head>

  <body>
    <header>
      <h1><%= Settings.product_name %></h1>
      <% if user_signed_in? %>
        <%= link_to 'Home', root_path %> /
        <%= link_to 'Settings', edit_user_registration_path %> /
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign in', new_user_session_path %> /
        <%= link_to 'Sign up', new_user_registration_path %>
      <% end %>
    </header>
    <% if flash[:notice].present? %><p class="notice"><%= notice %></p><% end %>
    <% if flash[:alert].present? %><p class="alert"><%= alert %></p><% end %>
    <%= yield %>
  </body>
</html>
