<!DOCTYPE html>
<html lang='en'>
  <head>
    <title><%= content_for?(:title) ? "#{yield(:title)} | Dashwork".html_safe : "Dashwork" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <!-- Disable turbolinks preview cache -->
    <meta name='turbolinks-cache-control' content='no-cache'>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/regular.min.css' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/solid.min.css' %>
    <% case user_signed_in? ? current_user&.preferred_theme : 'system' %>
    <% when 'light' %>
    <%= stylesheet_link_tag 'application-light', 'data-turbolinks-track': 'reload' %>
    <% when 'dark' %>
    <%= stylesheet_link_tag 'application-dark', 'data-turbolinks-track': 'reload' %>
    <% when 'system' %>
    <%= stylesheet_link_tag 'application-dark', media: '(prefers-color-scheme: dark)', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application-light', media: '(prefers-color-scheme: no-preference), (prefers-color-scheme: light)', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='has-navbar-fixed-top'>
    <%= render 'navbar' %>
    <%= render "application/#{yield(:page_style).presence || 'document'}" do %>
      <% if flash[:notice].present? %>
        <%= render NotificationComponent.new style: :info do %>
          <%= notice %>
        <% end %>
      <% end %>
      <% if flash[:alert].present? %>
        <%= render NotificationComponent.new style: :warning do %>
          <%= alert %>
        <% end %>
      <% end %>
      <% unless yield(:hide_body_title).present? || yield(:title).empty? %>
        <h1 class='title'><%= yield :title %></h1>
      <% end %>
      <%= yield %>
    <% end %>
  </body>
</html>
