<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? "#{yield(:title)} | Dashwork".html_safe : "Dashwork" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-navbar-fixed-top">
    <%= render 'navbar' %>

    <section class="section">
      <div class="<%= yield(:page_style) == 'fullwidth' ? '' : 'container' %>">
        <div class="columns">
          <% if content_for?(:sidebar) %>
            <div class="column is-2">
              <%= yield :sidebar %>
            </div>
          <% end %>
          <div class="column">
            <% if flash[:notice].present? %><div class="notification is-info"><%= notice %></div><% end %>
            <% if flash[:alert].present? %><div class="notification is-warning"><%= alert %></div><% end %>
            <h1 class='title'><%= yield :title %></h1>
            <%= yield %>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
